name: Build iOS IPA
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'

      - name: Build Archive
        run: |
          xcodebuild -project 'PWA Sample.xcodeproj' \
                     -scheme 'PWA Sample' \
                     -configuration Release \
                     -archivePath $PWD/build/'PWA Sample.xcarchive' \
                     archive \
                     CODE_SIGNING_ALLOWED=NO

      - name: Export IPA (Unsigned)
        run: |
          mkdir -p Payload
          cp -R build/PWA Sample.xcarchive/Products/Applications/PWA Sample.app Payload/
          zip -r PWA Sample.ipa Payload
          
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: PWA Sample.ipa
